/* HTML5 ✰ Boilerplate
 * ==|== normalize ==========================================================
 */

@import url("http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic");

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 15px; line-height: 1.5; }
body, button, input, select, textarea { font-family: 'PT Sans', sans-serif; color: #222; font-weight: 400; }

::-moz-selection { background: #ABD148; color: #fff; text-shadow: none; }
::selection { background: #ABD148; color: #fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; cursor:help; }
b, strong { font-weight: 700; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: 700; }
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
ul ul, ol ol { margin: 0; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }
table caption {font-weight: 700;font-style:italic;letter-spacing:3px;text-align:right;margin:0 10px 0 0;padding:0;color:#444;caption-side: bottom;}
table td, table th {padding:4px 6px 4px 6px;border:1px solid #bbb;}
table thead {color:#444;font-size:12px;font-weight:700;text-shadow: 0 1px 1px rgba(255,255,255,0.9);}
table thead th, table.plain thead td {padding:6px;}
table thead th a { display: block; text-decoration: none; }
table thead th a.asc:after { content: ' ↓'; }
table thead th a.desc:after { content: ' ↑'; }
table thead tr {background:#eee}
table tfoot tr {background:#eee}
table tfoot {font-size: 10px;}
table tbody tr th {text-align:right;font-weight:700;background:#eee}

/** Paging **/
.paging { background:#fff; color: #ccc; margin-top: 1em; clear:both; text-align: center; }
.paging .current, .paging .disabled, .paging a { text-decoration: none; padding: 5px 8px; display: inline-block }
.paging > span { display: inline-block; border: 1px solid #ccc; border-left: 0; }
.paging > span:hover { background: #efefef; }
.paging .prev { border-left: 1px solid #ccc; -moz-border-radius: 4px 0 0 4px; -webkit-border-radius: 4px 0 0 4px; border-radius: 4px 0 0 4px; }
.paging .next { -moz-border-radius: 0 4px 4px 0; -webkit-border-radius: 0 4px 4px 0; border-radius: 0 4px 4px 0; }
.paging .disabled { color: #ddd; }
.paging .disabled:hover { background: transparent; }
.paging .current { background: #efefef; color: #c73e14; }

/** flash messages **/
#flashMessage.message {
	background-color: #CEE6F2;
	color: #0576A6;
	font-weight: 700;
	border: #058DC7 solid 1px;
	padding: 10px 20px 10px 30px;
	background-image: url('../../img/admin/silk/information.png');
	background-repeat: no-repeat;
	background-position: 10px center;
	border-radius: 4px;
}

/** forms **/
form { clear: both; margin-right: 20px; padding: 0; width: 100%; }
fieldset fieldset { margin-top: 0; padding: 5px; }
fieldset fieldset div { clear: left; margin: 0 20px; }
form div { clear: both; margin-bottom: 10px; padding: 5px; vertical-align: text-top;}
form .input { color: #444; }
form .required { font-weight: 700; }
form .required label:after { color: #e32; content: ' *'; display:inline; }
form div.submit { border: 0; clear: both; margin-top: 10px; }
label { display: block; margin-bottom:3px; }
input, textarea { clear: both; width:98%; padding: 4px; }
select { clear: both; vertical-align: text-bottom; }
select[multiple=multiple] { width: 100%; }
option { padding: 0 3px; }
input[type=checkbox] { clear: left; float: left; margin: 0px 6px 7px 2px; width: auto; }
div.checkbox label { display: inline; }
input[type=radio] { float:left; width:auto; margin: 6px 7px 7px 20px; padding: 0; line-height: 26px; }
.radio label { margin: 0; line-height: 26px; }
input[type=submit] { display: inline; width: auto; }
form .error { background: #F2D4CE; border-radius: 4px; font-weight: normal; border: 1px solid #AE432E; }
form .error-message { margin: 0; padding-left: 4px; }
form .error-message ul { padding: 0; margin: 0; list-style: none; }

/* ==|== primary styles =====================================================
   Author:
   ========================================================================== */
















/* ==|== non-semantic helper classes ======================================== */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
.left { float: left; }
.right { float: right; }


/* ==================================================================================================================== */
/* ! The 1140px Grid V2 by Andy Taylor \ http://cssgrid.net \ http://www.twitter.com/andytlr \ http://www.andytlr.com   */
/* ==================================================================================================================== */

.grid { /* renamed from .container to avoid conflicts */ }
.row { width: 100%; overflow: hidden; }
.onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol { margin-right: 3.8%; float: left; min-height: 1px; }
.row .onecol { width: 4.85%; }
.row .twocol { width: 13.45%; }
.row .threecol { width: 22.05%; }
.row .fourcol { width: 30.75%; }
.row .fivecol { width: 39.45%; }
.row .sixcol { width: 48%; }
.row .sevencol { width: 56.75%; }
.row .eightcol { width: 65.4%; }
.row .ninecol { width: 74.05%; }
.row .tencol { width: 82.7%; }
.row .elevencol { width: 91.35%; }
.row .twelvecol { width: 100%; float: left; }
.last { margin-right: 0px; }


/* ==|== media queries ====================================================== */

/*		Default Layout: 992px.
		Gutters: 24px.
		Outer margins: 48px.
		Leftover space for scrollbars @1024px: 32px.
-------------------------------------------------------------------------------
cols    1     2      3      4      5      6      7      8      9      10
px      68    160    252    344    436    528    620    712    804    896    */

#container
{
	width: 896px;
	padding: 0 48px 84px;
	-webkit-text-size-adjust: 100%; /* Stops Mobile Safari from auto-adjusting font-sizes */
	margin: 0 auto;
}



/*		Tablet Layout: 768px.
		Gutters: 24px.
		Outer margins: 28px.
		Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */

@media only screen and (min-width: 768px) and (max-width: 991px) {

	#container
	{
		width: 712px;
		padding: 0 28px 60px;
	}
}



/*		Mobile Layout: 320px.
		Gutters: 24px.
		Outer margins: 34px.
		Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */

@media only screen and (max-width: 767px) {

	#container
	{
		width: 252px;
		padding: 0 34px 60px;
	}

	.row, body, .grid {
		width: 100%;
		min-width: 0;
		margin-left: 0px;
		margin-right: 0px;
		padding-left: 0px;
		padding-right: 0px;
	}

	.row .onecol, .row .twocol, .row .threecol, .row .fourcol, .row .fivecol, .row .sixcol, .row .sevencol, .row .eightcol, .row .ninecol, .row .tencol, .row .elevencol, .row .twelvecol {
		width: auto;
		float: none;
		margin-left: 0px;
		margin-right: 0px;
	}

}



/*		Wide Mobile Layout: 480px.
		Gutters: 24px.
		Outer margins: 22px.
		Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */

@media only screen and (min-width: 480px) and (max-width: 767px) {

	#container
	{
		width: 436px;
		padding: 0 22px 48px;
	}

}



/* ==|== print styles ======================================================= */

@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; }
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
